body {
   background-color: whitesmoke; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: darkolivegreen;
}

h2 {
    color: darkolivegreen ;
}

ol {
    color: saddlebrown;
    font-family: cursive;
} 

li {
    color: saddlebrown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#paragrafo {
    color #00FF00;
}

#coringa {
    color: #1f4904;
}

#chico {
    color: #0c5a0c;
}

#piuzinho {
    color:darkolivegreen;
}